.destinations .section-header {
    align-items: center;
    margin-inline: auto;
}

.destinations-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
}

.destination-item {
  position: relative;
  overflow: hidden; /* prevent overlay overflow */
}
.destination-img {
  display: block;
  width: 100%;
  height: auto;
}

.destination-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--hsla);
  padding-block: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.destination-item:hover .destination-details{
opacity: 1;
}
.destination-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.destionation-price,
.destionation-rating{
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 0.25rem 1.5rem;
    border-radius: 0 2rem 2rem 0;
    font-size: var(--small-font-size);
    font-weight: var(--weight-700);
}

.destionation-rating{
    border-radius: 2rem 0 0 2rem;
}

.destination-title{
    color: var(--white-color);
    font-size:var(--h2-font-size);
}