.header{
    position:fixed;
    inset: 0 0 auto;
    z-index: 1000;
}
.nav, 
.nav-list,
.nav-butoon{
    display: flex;
}
.nav{
    background-color: var(--body-color);
    border-radius: 3rem;
    /* max-width: 1436px; */
    max-width: 1236px;
    padding-inline: 4.5rem;
    height: 3.75rem;
    justify-content: space-between;
    align-items: center;
    box-shadow:  0 4px 16px hsla(var(--hue), 90%, 8%, 0.1);

}
.nav-link,
.nav-toggle,
.nav-close{
 cursor: pointer;
}

.nav-list{
    column-gap: 2.25rem;
}

.nav-link,
.nav-toggle,
.nav-close{
 color: var(--title-color);
}

.nav-link{
    text-transform: capitalize;
    color: color 0.3s;
}

.nav-link:hover,
.active{
    color: var(--first-color);
}
.nav-link-button{
    display: none;
}
.nav-button {
    display: inline-flex;
}
.nav-toggle,
.nav-close{
    font-size: 1.5rem;
    display: none;
}

.nav-log-img{
    width: 90px;
    height: 60px;
    border-radius: 50px;
}