
.hero {
  position: relative;
  height: 60vh;
  background: url(`tour.img`) center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container {
  max-width: 1100px;
  margin: auto;
  padding: 2rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  color: #fff;
  z-index: 2;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
}

.details,
.itinerary,
.tourdetail-gallery {
  background-color: #fff;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.details h2,
.itinerary h2,
.tourdetail-gallery h2,
.booking h2 {
  margin-bottom: 1rem;
  color: #2c3e50;
}

.info-list {
  list-style: none;
  padding-left: 0;
}

.info-list li {
  padding: 0.5rem 0;
}

.gallery-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 1rem;
}

.gallery-grid img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 200px;
}
.book-now-container .button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
  background-color: var(--first-color);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book-now-container .button:hover {
  background-color: var(--first-color-alt);
}
.back-home-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--first-color);
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.back-home-button:hover {
  background-color: green;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

/* .button .btn {
  display: inline-block;
  background-color: #27ae60;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s;
}

.button .btn:hover {
  background-color: #219150;
} */